<% include partials/header %>

<div class="game">
	<div class="grid">
		<div class="row">
			<div class="column">Player Health</div>
			<div class="column">-------------</div>
			<div class="column"><span id='playerHP'></span></div>
		</div>
		<div class="row">
			<div class="column">Hero Health</div>
			<div class="column">-------------</div>
			<div class="column"><span id='heroHP'></span></div>
		</div>
		<div class="row">
			<div class="column"><button id="attack" class="clicker">Attack</button></div>
			<div class="column">&nbsp;||&nbsp;</div>
			<div class="column"><button id="heal" class="clicker">Heal</button></div>
		</div>
	</div>
</div>

<% include partials/footer %>
